doctype html
html
    head
        title Aurora Design
        meta(charset="utf-8")
        link(href="index.css" rel="stylesheet")
        script(src="index.js")
    body
        h1| Aurora Design Demos
        hr